<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FavPlaces</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
        .star-rating { color: #f5b301; }
    </style>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>FavPlaces Lab</strong></li>
            </ul>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'places_list' %}">My Places</a></li>
                <li><a href="{% url 'place_add' %}">Add New Place</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            <p>Created by Maister Danylo in 2026.</p>
        </footer>
    </main>
</body>
</html>